body {
    padding-top: 50px;
}

img{
    height:250px;
    width:250px;
    float:left;
    padding-right:20px;
    padding-top:25px;
}

#divview{
    background-color: #b1cdcd;
    height: 300px;
    width: 600px;
    margin: auto;
    border: 1px solid grey;
    padding: 20px;
}

